body {
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-family: $base-font-family;
  color: $text-color;
  background: $background-color;
  font-weight: 300;
  min-height: 100%;
}

h1,h2,h3 {
  font-weight: 100;
}

p {
  margin: 0;
  margin-bottom: 1em;
}

* {
  transition: all 0.3s ease;
}

a {
  color: $brand-color;
  text-decoration: none;
  /* border-bottom: 2px solid transparent; */
  &:hover {
    /* border-color: $brand-color; */
  }
}

.wrapper {
  @include outer-container;
  padding: 0 1em;
}

.page-content {
  @include media(768px) {
    padding-left: $aside-width;
  }
}

.site-header {
  padding: 2em 0;
  min-width: $aside-width;
  min-height: $base-line-height*10em;
  color: #fff;
  background: $grey-color;
  background: url('../img/building.jpg');
  background-size: cover;
  a {
    color: #fff;
    font-weight: 100;
  }
  @include media(768px) {
    display: block;
    float: left;
    position: fixed;
    min-height: 100%;
    top: 0;
  }
}

  .site-header--avatar {
    height: 160px;
    width: 160px;
    margin: auto;
    border-radius: 50%;
    border: 1px solid $background-color;
    /* background-image: url('../img/avatar.png'); */
    background-image: url('https://scontent-cdg.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/10930864_912165268807180_1387991604114066219_n.jpg?oh=6298e04d52cbfa95f699ac2d8c1c6108&oe=55B93D6B');
    background-size: 100%;
  }

  .site-header--info {
    text-align: center;
  }

.horizontal-list {
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
  li {
    display: inline;
    margin: 0 0.5em;
  }
}

.post-list {
  margin: 0;
  padding: 0;
  li {
    list-style-type: none;
  }
}

.post-title {
  text-transform: uppercase;
}

.post-link {
  color: $text-color;
}

.post-meta {
  color: $grey-color-light;
  margin-bottom: 1em;
}

.btn {
  border: 1px solid $background-color;
  padding: 0.25em 1em;
  border-radius: 1em;
  /* &:hover {
    background: $background-color;
    color: $text-color;
  } */
}

.small {
  font-size: 0.85em;
}

.btn-small {
  font-size: 0.85em;
}
