
body {
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-family: $base-font-family;
  color: $text-color;
  background: $background-color;
  font-weight: 300;
}

h1,h2,h3 {
  font-weight: 100;
}

p {
  margin: 0;
  margin-bottom: 1em;
}

* {
  transition: all 0.3s ease;
}

a {
  color: $brand-color;
  text-decoration: none;
  /* border-bottom: 2px solid transparent; */
  &:hover {
    /* border-color: $brand-color; */
  }
}

.wrapper {
  @include outer-container;
}

.site-header {
  padding: 2em 0;
  min-height: $base-line-height*10em;
  color: $background-color;
  background: $grey-color;
  a {
    color: $background-color;
    font-weight: 100;
  }
}

  .site-header--avatar {
    height: 160px;
    width: 160px;
    margin: auto;
    border-radius: 50%;
    border: 2px solid $background-color;
    background-image: url('../img/avatar.png');
  }

  .site-header--info {
    text-align: center;
  }

.horizontal-list {
  margin: 0;
  padding: 0;
  li {
    display: inline;
    margin: 0 0.5em;
  }
}
